addict==2.4.0
aiohttp==3.7.4  # 버전 수정
aiosignal==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
annotated-types==0.6.0
anyio==3.2.1  # 버전 수정
appdirs==1.4.4
async-timeout==3.0.1  # 버전 수정
attrs==20.3.0  # 버전 수정
brotlipy==0.7.0
cachetools==4.2.2  # 버전 수정
certifi
cffi
charset-normalizer==2.0.4  # 버전 수정
chumpy==0.70
click==7.1.2  # 버전 수정
colorama==0.4.4  # 버전 수정
contourpy==1.1.0
coverage==5.5  # 버전 수정
crcmod==1.7
cryptography
cycler==0.11.0
Cython==0.29.23  # 버전 수정
decord==0.6.0
docker-pycreds==0.4.0
einops==0.3.2  # 버전 수정
exceptiongroup==1.1.3
fastapi==0.63.0  # 버전 수정
ffmpeg==1.4
filelock
filterpy==1.4.5
flake8==3.9.2  # 버전 수정
fonttools==4.42.1
frozenlist==1.4.0
fvcore==0.1.5.post20221221
gitdb==4.0.10
GitPython==3.1.35
google-api-core==1.26.3  # 버전 수정
google-auth==1.27.1  # 버전 수정
google-cloud-core==1.6.0  # 버전 수정
google-cloud-storage==1.36.2  # 버전 수정
google-crc32c==1.5.0
google-resumable-media==1.3.3  # 버전 수정
googleapis-common-protos==1.53.0  # 버전 수정
h11==0.12.0  # 버전 수정
httpcore==0.12.3  # 버전 수정
httptools==0.2.0  # 버전 수정
httpx==0.16.1  # 버전 수정
idna
imageio==2.9.0  # 버전 수정
importlib-metadata==4.8.1  # 버전 수정
importlib-resources==5.4.0  # 버전 수정
iniconfig==1.1.1  # 버전 수정
interrogate==1.5.0
iopath==0.1.10
isort==5.9.3  # 버전 수정
Jinja2
jmespath==0.10.0
joblib==1.0.1  # 버전 수정
json-tricks==3.17.3
kiwisolver==1.4.0  # 버전 수정
lazy_loader==0.3
Markdown==3.3.4  # 버전 수정
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.3.4  # 버전 수정
mccabe==0.6.1  # 버전 수정
mdurl==0.1.2
mkl-fft==1.3.0  # 버전 수정
mkl-random
mmaction2==1.1.0
mmcv==2.0.4  # 버전 수정
mmcv-full==1.7.0
mmdet==2.14.0  # 버전 수정
mmengine==0.8.4
-e git+https://github.com/byunnn/mmpose.git@e8f259bcd25d13b043bddf8c2f37990c457bfbb2#egg=mmpose
model-index==0.1.11
mpmath
multidict==5.1.0  # 버전 수정
munch==2.5.0  # 버전 수정
munkres==1.1.4
networkx
numpy==1.19.5  # 버전 수정
opencv-contrib-python==4.5.1.48  # 버전 수정
opencv-python==4.5.1.48  # 버전 수정
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.24
ordered-set==4.0.2  # 버전 수정
oss2==2.17.0
packaging==20.9  # 버전 수정
pandas==1.2.4  # 버전 수정
parameterized==0.7.4  # 버전 수정
pathtools==0.1.2
Pillow==8.2.0  # 버전 수정
platformdirs==2.2.0  # 버전 수정
pluggy==0.13.1  # 버전 수정
portalocker==2.3.0  # 버전 수정
protobuf==3.14.0  # 버전 수정
psutil==5.8.0  # 버전 수정
py==1.10.0
pyasn1==0.4.8  # 버전 수정
pyasn1-modules==0.2.8  # 버전 수정
pycocotools==2.0.2  # 버전 수정
pycodestyle==2.7.0  # 버전 수정
pycparser
pycryptodome==3.10.1  # 버전 수정
pydantic==1.8.2  # 버전 수정
pydantic-core==1.8.2  # 버전 수정
pyflakes==2.3.1  # 버전 수정
Pygments==2.9.0  # 버전 수정
pyOpenSSL
pyparsing==2.4.7  # 버전 수정
PySocks
pytest==6.2.3  # 버전 수정
pytest-runner==5.3.0  # 버전 수정
python-dateutil==2.8.1  # 버전 수정
python-dotenv==0.15.0  # 버전 수정
python-multipart==0.0.5  # 버전 수정
pytz==2021.1  # 버전 수정
PyWavelets==1.1.1  # 버전 수정
# pywin32==306
PyYAML==5.4.1  # 버전 수정
regex==2021.4.4  # 버전 수정
requests
rich==9.11.0  # 버전 수정
rsa==4.7.2  # 버전 수정
scikit-image==0.18.1  # 버전 수정
scikit-learn==0.24.2  # 버전 수정
scipy==1.7.1  # 버전 수정
seaborn==0.11.1  # 버전 수정
sentry-sdk==0.20.3  # 버전 수정
setproctitle==1.2.2  # 버전 수정
shapely==1.7.1  # 버전 수정
six==1.15.0  # 버전 수정
smmap==3.0.5  # 버전 수정
sniffio==1.2.0  # 버전 수정
starlette==0.14.2  # 버전 수정
sympy
tabulate==0.8.9  # 버전 수정
termcolor==1.1.0  # 버전 수정
terminaltables==3.1.0  # 버전 수정
threadpoolctl==2.1.0  # 버전 수정
tifffile==2021.4.8  # 버전 수정
toml==0.10.2
tomli==1.1.0  # 버전 수정
torch==1.8.1+cpu  # 버전 수정
torchaudio==0.8.1  # 버전 수정
torcheval==0.1.9  # 버전 수정
torchsummary==1.5.1
torchvision==0.9.1+cpu  # 버전 수정
tqdm==4.59.0  # 버전 수정
typing-extensions==3.10.0.2  # 버전 수정
tzdata==2021.1  # 버전 수정
urllib3
uvicorn==0.13.4  # 버전 수정
wandb==0.10.27  # 버전 수정
watchfiles==0.9.0  # 버전 수정
websockets==8.1  # 버전 수정
win-inet-pton
xdoctest==0.15.8  # 버전 수정
xtcocotools==1.11.0  # 버전 수정
yacs==0.1.8
yapf==0.30.0  # 버전 수정
yarl==1.6.3  # 버전 수정
zipp==3.4.0  # 버전 수정